/* LINKS */
@import url('https://fonts.googleapis.com/css2?family=Work+Sans&display=swap');

/* CSS RESET */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* CSS VARIABLES */
:root {
    /* COLORS */
    --WHITE-COLOR: hsl(0, 0%, 100%);
    --LIGHTPINK-COLOR: hsl(275, 100%, 97%);
    --GRAYPURPLE-COLOR: hsl(292, 16%, 49%);
    --DARKPURPLE-COLOR: hsl(292, 42%, 14%);
    --LIGHTPURPLE-COLOR: rgb(255, 3, 255);

    /* FONT SIZE*/
    --PARA-FSIZE: 16px;

    /* FONT FAMILY */
    --PRIMARY-FONT: 'Work Sans', sans-serif;

    /* FONT WEIGHT */
    --LIGHT-WEIGHT: 400;
    --REGULART-WEIGHT: 600;
    --BOLD-WEIGHT: 700;

    /* UTILS */
    --WIDTH: 650px;
    --HEIGHT: 580px;
}

/* UTILITIES */
.answer {
    padding-top: 1em;
    font-size: var(--PARA-FSIZE);
    color: #00000080;
    display: none;
}

.border {
    padding: 0 0 12px 0;
    border-bottom: 1px solid #00000020;
    margin: 2rem 0;
}

.buttonClicked {
    background: var(--DARKPURPLE-COLOR) !important;
}

.btn {
    width: 30px;
    height: 30px;
    border-radius: 50%;
    cursor: pointer;
    outline: none;
    border: none;
    color: var(--WHITE-COLOR);
    background: var(--LIGHTPURPLE-COLOR);
}

.box {
    font-family: var(--PRIMARY-FONT);
    padding: 1rem 0;
}

/* GENERAL STYLES */
html,
body {
    scroll-behavior: smooth;
}

/* STYLING MAIN SECTION */
#main {
    width: 100%;
    height: 130vh;
    background: var(--LIGHTPINK-COLOR);
    overflow-x: hidden;
    background: var(--LIGHTPINK-COLOR);
    position: relative;
}

/* STYLING FAQ CONTAINER */
#faq-container {
    width: var(--WIDTH);
    height: var(--HEIGHT);
    border-radius: 18px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: var(--WHITE-COLOR);
    box-shadow: 2px 2px 12px 3px #93939340;
    padding: 2rem;
}

.main-head {
    display: flex;
    align-items: center;
    gap: 1em;
}

.head h1 {
    font-family: var(--PRIMARY-FONT);
    font-weight: 900;
    font-size: 3rem;
}

.info-head {
    display: flex;
    align-items: center;
    justify-content: space-between;
}